.navv{
    background-color: #23282c!important;
}

.logoo{
    max-width: 80px;
    height: 40px;
    position: relative;
    left: 30px;
    top: 0px;
}

.navi{
    margin-left: auto;
    position: relative;
    right: 0px;
}

.navli{
    margin: 0px 30px;
    color: #003366!important;
}
.navli a{
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:200;
    color: white!important;
}
.navli a:hover{
    color: #0073aa!important;
    font-weight: bold;
}

.nav-link .active{
    color: #003366;
}
.navicon{
    color: white!important;
}

.navbtn{
    color: white!important;
    background-color: white!important;
}